@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@400;700&display=swap');

$text: #2c2c2f;
$whitebg: #edf0fa;
$red: #f25050;
$yellow: #f2c550;
$green: #56cb70;
$blue: #5677cb;

// change to glboal css var
:root {
	--text: #2c2c2f;
	--whitebg: #edf0fa;
	--red: #f25050;
	--yellow: #f2c550;
	--green: #56cb70;
	--blue: #5677cb;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	font-family: 'IBM Plex Sans Thai', sans-serif;
	color: $text;
	font-weight: 400;
	// background-color: $whitebg;
}

h1 {
	font-size: 48px;
	font-weight: 700;
	line-height: 70px;
}

h2 {
	font-size: 32px;
	font-weight: 700;
	line-height: 20px;
}

h3 {
	font-size: 22px;
	font-weight: 400;
}

p {
	font-size: 18px;
	font-weight: 400;
}

button {
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
}

.page {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	gap: 10rem;

	justify-content: space-between;

	padding: 3rem;
	background-color: $whitebg;
}

// Query mobile
@media (max-width: 768px) {
	.page {
		padding: 1.2rem;
	}
}

.section {
	flex: 1;
	max-height: 80vh;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

// Simple styling for form with text input, dropdown select, and a submit button
form {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	label {
		font-weight: 700;
	}

	input,
	select {
		padding: 0.5rem 1rem;
		border-radius: 0.5rem;
		border: 1px solid $text;
	}

	select {
		appearance: none;
	}

	button[type='submit'] {
		background-color: $green;
		color: white;
		border: none;
	}
}
